body {
    margin: 0;
    height: 100vh;

    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Nunito', sans-serif;
}

/* NAVBAR CONTAINER */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    padding: 16px 32px;
    gap: 25%;
}

/* LOGO */
.logo {
    display: block;
    width: 84px;
}

/* NAV LINKS WRAPPER (the yellow pill) */
.nav-links {
    display: flex;

    gap: 200px;

    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 999px; /* pill shape */
}

/* LINKS */
.nav-links a {
    text-decoration: none;
    color: #574427; /* brown-ish text */
    font-weight: 600;
    padding: 4px 8px;
    transition: all 0.2s ease;

    border-radius: 999px;
    white-space: nowrap;
    font-size: 24px;
    
}

.nav-links a:hover {
    background-color: #574427;
    color: #EFECE9;
    border-radius: 999px;
}

/* tablet */
@media (max-width: 900px) {
    .navbar {
        padding: 16px 20px;
    }

    .nav-links {
        gap: 24px;
        padding: 12px 24px;
        font-size: 16px;
    }

    .logo {
        height: 64px;
        width: 64px;
    }
}

/* mobile */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        padding: 16px;
    }

    .logo {
        height: 42px;
        width: 42px;
    }

    .nav-links {
        width: 100%;
        box-sizing: border-box;
        gap: 16px;
        padding: 12px 16px;
    }

    .nav-links a {
        font-size: 14px;
    }
}